/* entire container, keeps perspective */
/* .flip-container {
	perspective: 1000px;
} */
/* For vertical flip: position relative */
.navbar-nav{
	margin:1rem;
	padding:1rem;
	display:flex;
	text-align:center;
	justify-content:center;
	align-items:center;
	margin-left:1rem;
	margin-right:1rem;

}


.flip-container {
	position:relative;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateX(-180deg);
	}


.flip-container, .front, .back {
	width: 100px;
	height: 40px;

}

.flip-container .flipper {
	transform-origin: 100% 20px; /* half of height */
}

/* flip speed goes here */
.flipper {
	transition: 0.3s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;

	
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateX(0deg);
	margin-top:.2rem;
}

/* back, initially hidden pane */
.back {
	transform: rotateX(180deg);
	color:white;
}

